#sliding-window-container {
  --cell-width: 80px;
  --cell-height: var(--cell-width);
  --window-top-offset: 2rem;
  --window-width: var(--cell-width);
  --window-height: calc(var(--cell-height) + var(--window-top-offset));
  --cell-bg-color: #fdf2f8;
  --cell-text-color: #be185d;
  --gap-between-cells: 5px;
  background: #111;
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* HISTORY */

#history {
  background-color: #1e1e1e;
  color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  min-width: 15rem;
  text-align: center;
}

/************** CANVAS ***************/

/* CELL VALUES */
#cell-values input {
  min-width: 30vw;
  background-color: #1e1e1e;
  padding: 1rem;
  border: none;
  outline: none;
  color: white;
  border-radius: 0.4rem;
  letter-spacing: 2rem;
  font-size: 150%;
}

/* CANVAS */

#canvas {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

#frame {
  display: flex;
  position: relative;
  border-radius: 0.4rem;
  transition: all 0.5s linear;
  margin: 0 auto;
  gap: var(--gap-between-cells);
}

#sliding-window {
  border-radius: 0.4rem;
  position: absolute;
  top: calc(var(--window-top-offset) / -2);
  left: 0;
  width: var(--window-width);
  height: var(--window-height);
  background-color: var(--cell-bg-color) / 100%;
  transition: all 0.2s ease-in-out;
  border-top: 0.3rem solid var(--cell-text-color);
  border-bottom: 0.3rem solid var(--cell-text-color);
}

.cell {
  padding: 1rem;
  width: var(--cell-width);
  height: var(--cell-height);
  color: var(--cell-text-color);
  text-align: center;
  font-family: "Google Sans";
  font-weight: 500;
  position: relative;
  z-index: 999;
  background-color: var(--cell-bg-color);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  font-size: 120%;
  animation: loadCell 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}

.cell.highlight {
  opacity: 1;
  font-size: 150%;
  transform: scale(1);
}

@keyframes loadCell {
  from {
    /* right: calc(100% - 5rem); */
    bottom: -5rem;
  }
  to {
    bottom: 0rem;
  }
}

/* highlight first cell by default */
.cell:first-of-type {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.cell:last-of-type {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

@keyframes slide {
  from {
    left: 0%;
  }
  to {
    left: calc(100% - 5rem);
  }
}

/* ACTION BUTTONS */

#control-buttons {
  display: flex;
  /* flex-flow: column; */
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#motion-btns,
#undo-redo-reset-btns {
  display: flex;
  gap: 1.5rem;
}

#canvas button {
  background-color: white;
  outline: none;
  border: none;
  width: 3rem;
  padding: 0.8rem 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  cursor: pointer;
  background-color: #222;
  color: #aaa;
}

#canvas button:hover {
  color: white;
  transform: scale(1.1);
  background-color: #333;
}

#canvas button:active {
  background-color: deeppink;
}
